[submodule "package/pgconsole"]
	path = package/pgconsole
	url = https://github.com/willy68/pgconsole.git
[submodule "package/pgframework"]
	path = package/pgframework
	url = https://github.com/willy68/pgframework.git
